<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="/css/style2.css">


</head>

<body>
  <section class="navSec">
    <div class="container-fluid  nav_bar">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          {{!-- <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo" class="logo_img img-fluid"></a>
          --}}
          <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " id="navitems">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Shop</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Blog</a>
              </li>
            

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
              <li class="nav-item">
                <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i>{{user.name}}</a>

              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#"><i class="fa-regular fa-heart"></i></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
              </li>

            </ul>
          </div>
        </div>
      </nav>

    </div>
  </section>

  {{!-- navbar end --}}

{{!-- <section class="login py-5 bg-light">
    <div class="container main">
      <div class="row content">
        <div class="col-md-6 ">
          <h1 id="logh1" class="text-center">Log In</h1>
          <div class="input-box">
            <form action="/user_login" method="POST">
              <div class="form-row">

                <div class="offset-1 col-lg-10 pt-3">
                  <input type="email" class="form-control" name="email" placeholder="Email address" />
                </div>

                <div class="offset-1 col-lg-10 pt-5">
                  <input type="password" class="form-control" name="password" placeholder="Password" />
                </div>
                <div class="offset-1 col-lg-10 pt-3">
                  <a href="">Forgott Password?</a>
                </div>
                <div class="offset-1 col-lg-10  text-center">
                  <button type="submit" class="btn btn-dark mt-4  ms-5">Login</button>

                </div>
              </div>
            </form>

          </div>
        </div>
        <div class="col-md-6 side-image">
          <img src="/images/loginImg.jpg" alt="loginimg" class="img-fluid logimg p-4">
          <div>
            <p class="mt-5">Not a member? <a href="user_sign">SignUp</a> </p>
          </div>

        </div>
      </div>
    </div>

  </section>  --}}

 <section class="log mt-5">
    <div class="container">
      <div class="row content">
        <div class="col-md-6 mb-3">
          <img src="/images/loginImg.jpg" class="img-fluid " alt="login">

        </div>
        <div class="col-md-6">
          <h2 class="login-text mb-3 text-center">Log In</h2>
          <form action="/user_login" method="POST">
            <div class="form-row">

              <div class="offset-1 form-group p-2">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-controls" name="email" />
              </div>

              <div class="offset-1 form-group p-2">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-controls" name="password" />
              </div>
              <div class="offset-1  pt-3">
                <a href="">Forgott Password?</a>
                <p class="">Not a member? <a href="user_sign">SignUp</a> </p>
              </div>
              <div class="offset-1 col-lg-10  text-center">
                <button type="submit" class="btn btn-dark mt-4  ms-5">Login</button>
              </div>
            </div>
          </form>
          <a href="/google"><button class="btn btn-dark text-white">google+</button></a>


        </div>
      </div>
    </div>
  </section>

  
{{!-- <section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/loginImg.jpg" class="img-fluid " alt="login">
      </div>

      <div class="col-md-6">


      </div>
    </div>
  </div>
</section> --}}






  {{#if alert}}
  <script>
    alert("password is not match")
  </script>
  {{/if}}


  {{#if show}}
  <script>
    alert("Email is not found")
  </script>
  {{/if}}

  {{#if blocked}}
  <script>
    alert("The account is blocked....please login with another account")
  </script>
  {{/if}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</body>

</html>