<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>O|o' CLOCK</title>    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/style2.css" />

    {{!-- favicon --}}
    <link rel="icon" type="image/x-icon" href="https://res.cloudinary.com/dsqsfves6/image/upload/v1704874674/fav_mrsyym.jpg">

    <style>
        input[type=email], input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=email]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
    </style>

  </head>

  <body>
    <section class="navSec">
      <div class="container-fluid nav_bar">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container-fluid">
            {{! <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo" class="logo_img img-fluid"></a>
          }}
            <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo02"
              aria-controls="navbarTogglerDemo02"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navitems">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/"
                  >Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/shop">Shop</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/about">About Us</a>
                </li>
                

              </ul>
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
                <li class="nav-item">
                  <a class="nav-link" href="/user"><i
                      class="fa-solid fa-user"
                    ></i>{{user.name}}</a>

                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/wish"><i
                      class="fa-regular fa-heart"
                    ></i></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cart"><i
                      class="fa-solid fa-cart-shopping"
                    ></i></a>
                </li>

              </ul>
            </div>
          </div>
        </nav>

      </div>
    </section>

    {{! navbar end }}

   
<section class="vh-100" style="margin-top:20px;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong mt-3" style="border-radius: 1rem;">
              <div class="card-body p-5  shadow-lg">

                <h3 class="mb-5 text-center">Log in with</h3>
            
                <form action="/user_login" method="POST" name="loginform"
              onsubmit="return loginForm()">
                  <label for="email">Email Address</label><br />

                  <input type="email" 
                    id="email"
                    class="form-control form-control-lg" 
                    name="email"
                    value="" />
                  <p id="msg1" class="text-danger"></p>

                  <label for="password">Password</label><br/>
                  <input
                    type="password"
                    id="password"
                    class="form-control form-control-lg" 
                    name="password"
                    value=""
                  />
                    <p id="msg2" class="text-danger"></p>
                  <p style="text-align: right;"><a href="/forgotpassword">Forgott Password?</a></p>

                  {{!-- <span style="text-align: right;"><a href="/forgotpassword">Forgott Password?</a></span><br> --}}
                  {{!-- <p class="">Not a member? <a href="user_sign">SignUp</a> </p> --}}

                  <button
                    type="submit"
                    class="btn  btn-outline-secondary" style="width: 100%;"
                  >Login</button>
                  <br/>
                </form>
                <h5 class="text-center text-muted">OR</h5>
                  <div class="text-center">
                    <a href="/auth/google"><button
                class="btn btn-dark text-white" style="width: 100%;"
              ><i class="fa-brands fa-google" style="color: #f5f4f4;"></i><span class="ps-2">Sign in with Google</span></button></a>

                  </div><br/>
                  <p class="text-center">Not a member? <a href="user_sign">SignUp</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    

    {{#if alert}}
      <script>
        document.getElementById("msg2").innerHTML="Password is do not match..."
      </script>
    {{/if}}

    {{#if show}}
      <script>
        document.getElementById("msg1").innerHTML="Email is not exist..."
      </script>
    {{/if}}

    {{#if blocked}}
      <script>
        alert("The account is blocked....please login with another account")
      </script>
    {{/if}}

    <script src="/js/formValidation.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

  </body>

</html>