<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
    <section class="navSec">
        <div class="container-fluid  nav_bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    {{!-- <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="logo"
                            class="logo_img img-fluid"></a> --}}
                    <a class="navbar-brand text-dark" href="#" id="logo_img">O|o' CLOCK</a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 " id="navitems">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/shop">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Blog</a>
                            </li>
                            
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="navicons">
                            <li class="nav-item">
                                <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i><span style="color: black; font-family:sanserif">{{user.name}}</span></a>
                       
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa-regular fa-heart"></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </section>
    {{!-- navsection end --}}

    {{!-- carousal section starts --}}
    <section class="secOne mt-5">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 car">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/slider1.jpg" class="d-block w-100" alt="carousal1">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="">TIMELESS & ELEGENT</p>
                                    <h2>THE CLASSICS</h2>
                                    <h5>Complete Your Everyday Look With Classic Leather Strap Watch</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/images/slider2.jpg" class="d-block w-100" alt="carousal2">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="">TIMELESS & ELEGENT</p>
                                    <h2>NEW ARRAIVALS</h2>
                                    <h5>Complete Your Everyday Look With Classic Leather Strap Watch</h5>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/images/slider3.jpg" class="d-block w-100" alt="carousal3">
                                <div class="carousel-caption d-none d-md-block">
                                    <p class="">TIMELESS & ELEGENT</p>
                                    <h2>BEST SELLER</h2>
                                    <h5>Complete Your Everyday Look With Classic Leather Strap Watch</h5>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </section>

    {{!-- carousal section end --}}

    {{!-- features section start --}}
    <section class="features mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class=" feat0 text-center">
                        <img src="/images/delivery.png" width="70px" alt="Free Delivery">
                        <h5 class="text-dark pt-2 ">Free Delivery</h5>
                        <p class="text-secondary">For all orders above $45</p>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="feat1 text-center">
                        <img src="/images/secure_payment.png" width="90px" alt="securepayment">
                        <h5 class="text-dark pt-2 ">Secure Payments</h5>
                        <p class="text-secondary">Confidence on all your devices</p>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="feat2 text-center">
                        <img src="/images/microphone.jpg" width="70px" alt="Top-notch support">
                        <h5 class="text-dark pt-2 ">Top-notch support</h5>
                        <p class="text-secondary">sayhello&vapier.com</p>

                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 ">
                    <div class="feat3 text-center">
                        {{!-- <i class="fa-solid fa-rotate-left fa-2xl icon_featr" style="color: #b4b8c0;"></i> --}}
                        {{!-- <img src="/images/return-icon.png" width="80px" alt="securepayment"> --}}
                        <span class="material-symbols-outlined icon_featr">
                            rotate_left
                        </span>
                        <h5 class="text-dark pt-2 ">7 Days Return</h5>
                        <p class="text-secondary">7 Days Return</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <hr>
        </div>

    </section>

    {{!-- features section end --}}

    {{!-- brand section start --}}

    <section class="brandSec">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-dark text-center text-brand">SHOP BY BRAND</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 p-2">
                    <div class="card text-bg-dark">
                        <img src="/images/img1.png" class="card-img" alt="brand1">
                        <div class="card-img-overlay text-center">
                            <button type="button" class="btn btn-light brand-btn">CASTUS FIESTA</button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 p-2">
                    <div class="card text-bg-dark">
                        <img src="/images/img2.jpg" class="card-img" alt="brand2">
                        <div class="card-img-overlay text-center">
                            <button type="button" class="btn btn-light brand-btn">DANIEL WELLINGTON</button>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 p-2">
                    <div class="card text-bg-dark">
                        <img src="/images/img3.png" class="card-img" alt="brand3">
                        <div class="card-img-overlay text-center">
                            <button type="button" class="btn btn-light brand-btn" id="fos-btn">FOSSIL</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3 p-2">
                    <div class="card text-bg-dark">
                        <img src="/images/img4.png" class="card-img" alt="brand4">
                        <div class="card-img-overlay text-center">
                            <button type="button" class="btn btn-light brand-btn" id="fos-btn">G-SHOCK</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    {{!-- brand sec end --}}

    {{!-- store locator sec start --}}
    <section class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 ">
                    <div class="card ">
                        <img src="/images/back.jpg" class="card-img locator" alt="locator">
                        <div class="card-img-overlay text-center text-light locate-card">
                            <p class="card-title locat-text">MADE FOR THIS</p>
                            <h3 class="card-text h3-text">MADE FOR NIGHTS THAT BRING <br>YOU CLOSER TOGETHER</h3>
                            <button type="button" class="btn btn-light store">SHOP NOW</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {{!-- store locator sec end --}}

    {{!-- latest arraival start --}}
    <section class="latest mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-best text-center">LATEST ARRIVALS
                    </h3>
                </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card " >
                                <img src="/images/latest1.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-secondary" style="font-size: 17px;">FOSSILE</h5>
                                    <p class="card-text">BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:800.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>

               </div>
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card " >
                                <img src="/images/p9.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-secondary" style="font-size: 17px;">CASTUS FEISTA</h5>
                                    <p class="card-text">BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:800.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>
                

               </div>
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card " >
                                <img src="/images/p10.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-secondary" style="font-size: 17px;">FOSSILE</h5>
                                    <p class="card-text">BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:800.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>
                

               </div>
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card" >
                                <img src="/images/p11.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <p class="card-title text-secondary" style="font-size: 17px;">DANIEL WELLINGTON</p>
                                    <p class="card-text" >BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:900.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>
                

               </div>
            </div>
        </div>

    </section> 
    

    {{!-- latest sec end --}}

    {{!-- pro section start --}}
   {{!-- <section class="pro mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 pro-banner">
                    <img src="/images/img7.jpg" alt="background_img" class="img-fluid back_img w-100">
                    {{!-- <div class="text-product">
                        <img src="/images/clock.png" alt="" class="img-fluid watch-product" width="200vw">
                    </div> --}} 

                </div>
            </div>
        </div>

    </section>  --}}
    {{!-- pro section end --}}

    {{!-- best sellers sec start --}}
<section class="bestSeller mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-best text-center">BEST SELLERS
                    </h3>
                </div>
            </div>
            <div class="row mt-5">
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card " >
                                <img src="/images/p8.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-secondary" style="font-size: 17px;">FOSSILE</h5>
                                    <p class="card-text">BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:800.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>

               </div>
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card " >
                                <img src="/images/p9.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-secondary" style="font-size: 17px;">CASTUS FEISTA</h5>
                                    <p class="card-text">BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:800.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>
                

               </div>
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card " >
                                <img src="/images/p10.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-secondary" style="font-size: 17px;">FOSSILE</h5>
                                    <p class="card-text">BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:800.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>
                

               </div>
               <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                  <div class="card best-card" >
                                <img src="/images/p11.jpg" class="card-img-top" alt="...">
                                <div class="card-body text-center">
                                    <p class="card-title text-secondary" style="font-size: 17px;">DANIEL WELLINGTON</p>
                                    <p class="card-text" >BERING AURORA COLLECTION</p>
                                    <p class="card-text1">Rs:900.00</p>
                                    <button type="button" class="btn btn-dark ">ADD TO CART</button>

                                </div>
                            </div>
                

               </div>
            </div>
        </div>

    </section> 
    {{!-- best sellers end --}}

    {{!-- banner section start --}}
    <section class="banner mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 banner">
                    <div style="width: 100%;background: #000;" class="d-flex justify-content-center">
                        <img src="/images/blog-3.jpg" class="img-fluid " alt="banner">
                        <div class="text-light text-center banner-text">
                            <h3>EXTRA 20% OFF</h3>
                            <h1 class="feel">FEEL THE NOSTALGIA</h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    {{!-- banner section end --}}

    {{!-- category sec start --}}
    <section class="category mt-5">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card text-light">
                        <img src="/images/banner-5.jpg" class="card-img p-3" alt="mess watch">
                        <div class="card-img-overlay text-center mens">
                            <h2 class="card-title">MEN'S WATCH</h2>
                            <button type="button" class="btn btn-light text-dark" style="border-radius: 0;">SHOP
                                NOW</button>
                        </div>
                    </div>

                </div>
                <div class=" col-sm-12 col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card text-light">
                        <img src="/images/banner-6.jpg" class="card-img p-3" alt="ladies watch">
                        <div class="card-img-overlay text-center ladies">
                            <h2 class="card-title">LADIES WATCH</h2>
                            <button type="button" class="btn btn-light text-dark" style="border-radius: 0;">SHOP
                                NOW</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    {{!-- category sec end --}}

    {{!-- footer sec start --}}


    <section>
        <div class="container-fluid">
            <footer class="text-center text-lg-start text-dark" style="background-color: #fff">

                <div class="container p-4 pb-0">
                    <div class="row">

                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class=" font-weight-bold">
                                <h2><a class="text-dark" href="#">O|o' CLOCK</a></h2>
                            </h6>
                            <p>
                                O|o' CLOCK Groups' e-commerce website, O|o'clock.com, has a total of 364 stores as of
                                the 2010 fiscal year review that cut across the world.
                            </p>
                        </div>


                        <hr class="w-100 clearfix d-md-none" />


                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                            <p>
                                <a class="text-dark">Best Sellers</a>
                            </p>
                            <p>
                                <a class="text-dark">Latest products</a>
                            </p>
                            <p>
                                <a class="text-dark">Brands</a>
                            </p>

                        </div>


                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">
                                Useful links
                            </h6>
                            <p>
                                <a class="text-dark">Your Account</a>
                            </p>
                            <p>
                                <a class="text-dark">Become an Affiliate</a>
                            </p>
                            <p>
                                <a class="text-dark">Shipping Rates</a>
                            </p>
                            <p>
                                <a class="text-dark">Help</a>
                            </p>
                        </div>
                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                            <p><i class="fas fa-home mr-3"></i> New York, NY 100</p>
                            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                        </div>

                    </div>




                    <!-- Section: Copyright -->
                    {{!-- <section class="p-3 pt-0">
                        <div class="row d-flex align-items-center">

                            <div class="col-md-7 col-lg-8 text-center text-md-start">

                                <div class="p-3">
                                    © 2020 Copyright:
                                    <a class="text-white" href="https://mdbootstrap.com/">O|o'clock.com</a>
                                </div>

                            </div>

                            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">

                                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                        class="fab fa-facebook-f"></i></a>


                                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                        class="fab fa-twitter"></i></a>


                                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                        class="fab fa-google"></i></a>


                                <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                        class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </section> --}}
                </div>
            </footer>
        </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
</body>

</html>