@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.form-area {
  background: url(https://farm8.staticflickr.com/7284/8737553088_e6feca2bc9_b.jpg);
  background-color: #ddd;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.form-area:before {
  /* background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(75, 17, 249, 0.88) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(75, 17, 249, 0.88) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(75, 17, 249, 0.88) 100%
  ); */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e04b11f9',GradientType=0 );
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.form-area {
  box-shadow: 0 0 38px #666;
  margin: 40px auto;
  max-width: 500px;
}

.form-sing {
  padding: 46px 60px;
}

.nav-tabs {
  border: none;
  padding-left: 17px;
}

.sing-log-wrap .tab-content {
  margin-top: 70px;
}

.sing-log-wrap .nav.nav-tabs li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 30px;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
}

.sing-log-wrap .nav > li > a:focus,
.sing-log-wrap .nav > li > a:hover {
  background: none;
  border: 1px solid transparent;
  color: #1066f9;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #fff;
  cursor: default;
  background: none;
  border: 0px solid #ddd;
  border-bottom: 2px solid #1066f9;
}

.sing-log-wrap label {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
}

.form-input-group label,
.form-input-checkbox {
  padding-left: 17px;
}

.sing-log-wrap .form-input-group input {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
  margin-top: 10px;
}

.sing-log-wrap .form-input-group input,
.form-input-group button {
  border: medium none;
  border-radius: 20px;
  color: #222;
  padding: 9px 17px;
  width: 100%;
}

.form-input-checkbox label {
  width: auto;
  text-transform: none;
}

.form-input-group label {
  opacity: 0.8;
  /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; */
}

.form-input-group button {
  background: #1161ee none repeat scroll 0 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 17px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.form-input-group button:hover {
  background: #fff none repeat scroll 0 0;
  color: #1161ee;
}

.form-bor {
  border-bottom: 1px solid #36384d;
  margin-bottom: 33px;
  padding-bottom: 62px;
}

.forgot-pass {
  color: #dddd;
  display: block;
  text-align: center;
}

.forgot-pass:hover {
  color: #fff;
}

.sing-log-wrap .form-input-group {
  margin-bottom: 17px;
}
