* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_form {
    width: 30%;
    background: linear-gradient(rgb(176, 176, 237), lightblue);
    padding: 50px;
    border-radius: 20px;
    margin-top: 130px;
}

#login_btn {
    width: 100%;
    background-color: black;
    border: none;

}

.signup_form {
    width: 30%;
    background: linear-gradient(rgb(176, 176, 237), lightblue);
    padding: 10px;
    border-radius: 0px;
    margin-top: 90px;
}

#logout {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;

}

#admin_profile {
    background: linear-gradient(rgb(176, 176, 237), lightblue);
}

#user_login {
    width: 200px;
    height: auto;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

/* #profile_container {
    background-image: url('/assets/images/contact.jpg');
} */


#loginrow {
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;

}

.logimg {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 450px;
}

#logh1 {
    font-size: 3rem;
    font-weight: 700px;
}

#logo_img {
    font-weight: bolder;
    font-family: serif;
    font-size: 30px;

}

#admin_name {
    font-weight: 500;
    font-family: cursive;

}

/* .user_head{
    background-color: black;
} */
#user {
    font-weight: bold;
}


/*------------------------------------------------------------homepage of user side-------------------------------------------------*/
.car {
    padding: 0;
}

.nav_bar {
    padding: 0;
}

/*---------------------- feature side sec2----------------------*/
.features {
    width: 100%;
    padding: 10px;
    /* box-shadow: 5px 10px #fbfafa; */
    /* box-shadow: 12px 12px 22px */
}

.feat0 .feat1 .feat2 .feat3 {
    box-shadow: 12px 12px 22px
}

.icon_featr {
    font-size: 60px;
}

/*------------------------------- shop by brand sec3-------------------------*/
.text-brand {
    font-family: "Jost",Sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.brand-btn{
    border-radius: 0;
}

#fos-btn{
    width: 50%;
}

.brand-btn:hover {
    background-color: black;
    color: white;
    border: none;
}

/*-------------------------------- store locator sec--------------------------------- */
.store {
    font-size: 15px;
    color: black;
    border-radius: 0;
    border: 3px solid white;
  
}
.store:hover{
    background: transparent;
    font-weight: bold;
    border-radius: 0;
}

.locate-card{
    /* position: absolute; */
    top: 200px;
}


/* latest sec */
/* .latest {
    position: relative;
    display: flex;
    width: 1075px;
    
} */

.text-latest{
    font-family: "Jost",Sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}
.latest-card{
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    border: none;
}

/*----------------------------- product banner sec---------------------------------- */
.text-product {
    position: absolute;
    top: 20%;
    left: 70%;

}
.pro-banner{
    position: relative;
}

/*----------------------------- best sellers start---------------------------------- */
.text-best{
    font-family: "Jost",Sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
}

.card{
    border: none;
}
/*--------------------------------- banner sec --------------------------------------*/
.banner-text{
    position: absolute;
    top: 40%;
    color: #fff;
    font-weight: bolder;  
}

.banner{
    position: relative;
}
/*-------------------------------- category starts men&women-------------------------*/
.mens{
    top: 40%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.ladies{
    top: 40%;
    font-family: Arial, Helvetica, sans-serif;
   
}

/*---------------------------------login sec -----------------------------------------*/
.content{
    margin: 7% 12%;
    background-color: #fff;
    padding: 4rem 1rem 3rem 4rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
}

.login {
    font-weight: 600 !important;
}

.form-controls{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color:black ;
    border-style: solid;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color:#fff ;
    background-clip: padding-box;
}

/* .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
} */

/*------------------------------- latest products------------------------------ */

.cards-wrapper {
    display: flex;
    justify-content: center;
  }

  .latest-card {
    max-width: 100%;
    max-height: 100%;
  } 

  .latest-card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  } 
  
  .inner_carousal {
    padding: 1em;
  }

  .prev_control,
  .next_control {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  /* @media (min-width: 768px) {
    .latest-card img {
      height: 11em;
    }
  }  */

/*--------------------------------- best products sec------------------- */
.best-card {
    /* margin: 0 0.5em; */
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  } 


/*-------------------- forgotpassword section---------------------- */
.background-image {
    width: 100%;
    height: 500px;
    background-image: url("/images/contact.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    object-fit: cover;


  /* background-image:url('/assets/images/login.jpg');
  background-repeat: no-repeat;
  background-position: "right top" */
}

/*------------------- admin brand section------------------ */
#logo {
    display: block;
    max-width: 100%;
}


@media screen and (max-width:550px) {
    .carousel-inner {
        padding-top: 30px;
    }
    
}


@media screen and (max-width:685px) {
    .locator {
        height: 60vw;
    }

    .locate-text{
        font-size: 10px;
    }
    .h3-text{
        font-size: 20px;
    }
    .locate-card{
        top: 0px;
    }
    
    
}

@media screen and (max-width:375px) {
    .locat-text {
        display: none;
    }
    .h3-text{
        font-size: 17px;
        padding-top: 50px;
        line-height: 20px;
    }
    .store{
        background-color: transparent;
        color: white;
        border: 1px solid;
    }   
    .locate-card{
        
        top: 0px;
    }

    #forgot-head {
        font-size: 20px;
    }
}

@media screen and (min-width:375px ) and (max-width:500px) {
    .locate-card{
        padding-top: 80px;

    }
    .locat-text {
        font-size: 15px;
    }
    .h3-text{
        font-size: 17px;
        line-height: 20px;
    }
    .locate-card{
        top: 0px;
    }
    .time{
        display: none;
    }

}

@media screen and (min-width:500px ) and (max-width:768px) {
    .locate-card{
        top:0;
        padding-top: 80px;

    }
    .h3-text{
        font-size: 20px;
        line-height: 25px;
    }

}

@media screen and (min-width:300px ) and (max-width:1300px) {
    
.back_img{
    /* width: 100%; */
    height: 50vh;

}

.abt-img{
    margin-top: 40px;
}

 .magnifier{
    display: none;
 }

}

@media screen and (max-width:525px) {
    
    .logimg{
        display: none;
    }
    }


    
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }



 
.best-card:hover  {
        transform: scale(1.1);  
        transition: transform 0.3s ease;  
    }

    



