* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_form {
    width: 30%;
    background: linear-gradient(rgb(176, 176, 237), lightblue);
    padding: 50px;
    border-radius: 20px;
    margin-top: 130px;
}

#login_btn {
    width: 100%;
    background-color: black;
    border: none;

}

.signup_form {
    width: 30%;
    background: linear-gradient(rgb(176, 176, 237), lightblue);
    padding: 10px;
    border-radius: 0px;
    margin-top: 90px;
}

#logout {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

a {
    text-decoration: none;

}

#admin_profile {
    background: linear-gradient(rgb(176, 176, 237), lightblue);
}

#user_login {
    width: 200px;
    height: auto;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

#profile_container {
    background-image: url('/assets/images/contact.jpg');
}


#loginrow {
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;

}

.logimg {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 450px;
}

#logh1 {
    font-size: 3rem;
    font-weight: 700px;
}

#logo_img {
    font-weight: bolder;
    font-family: serif;
    font-size: 30px;

}

#admin_name {
    font-weight: 500;
    font-family: cursive;

}

/* .user_head{
    background-color: black;
} */
#user {
    font-weight: bold;
}


/*------------------------------------------------------------homepage of user side-------------------------------------------------*/
.car {
    padding: 0;
}

.nav_bar {
    padding: 0;
}

/*---------------------- feature side sec2----------------------*/
.features {
    width: 100%;
    padding: 10px;
    /* box-shadow: 5px 10px #fbfafa; */
    /* box-shadow: 12px 12px 22px */
}

.feat0 .feat1 .feat2 .feat3 {
    box-shadow: 12px 12px 22px
}

.icon_featr {
    font-size: 60px;
}

/*------------------------------- shop by brand sec3-------------------------*/
.text-brand {
    font-family: "Jost",Sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.brand-btn{
    width: 60%;
    border-radius: 0;
}

.brand-btn:hover {
    background-color: black;
    color: white;
    border: none;
}

/*-------------------------------- store locator sec--------------------------------- */
.store {
    font-size: 15px;
    color: black;
    border-radius: 0;
    border: 3px solid white;
  
}
.store:hover{
    background: transparent;
    font-weight: bold;
    border-radius: 0;
}

/*---------------------------------login sec -----------------------------------------*/
.content{
    margin: 7% 12%;
    background-color: #fff;
    padding: 4rem 1rem 3rem 4rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
}

.login {
    font-weight: 600 !important;
}

.form-controls{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color:black ;
    border-style: solid;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color:#fff ;
    background-clip: padding-box;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

