.zoom, .original {
    position: relative;
  }
  
  .zoom {
    display: inline-block;
  }
  
  .original {
    cursor: crosshair;
  }
  
  .zoom .viewer {
    position: absolute;
    top: 10%;
    left: 100%;
    width: 75%;
    height: 75%;
    overflow: hidden;
  }
  
  .zoom .viewer img {
    position: absolute;
  }
  
  .original:hover ~ div {
    display: block;
  }
  
  .original::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .magnifier {
    position: absolute;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
  }
  
  .magnifier, .viewer {
    display: none;
  }


  
  @media screen and (min-width:300px ) and (max-width:1024px) {
    
    .zoom .viewer {
      position: absolute;
      top: 10%;
      left: 100%;
      width: 75%;
      height: 75%;
      overflow: hidden;
    }

   
    }